<nav>
    <ul>
        <li>
            <a href="">
                <i class="fa-solid fa-home"></i>
                <div class="resto">
                    Home
                </div>
            </a>
        </li>
        <div class="line"></div>
        <li><a href="">
                <i class="fa-solid fa-bars-progress"></i>
                <div class="resto">
                    Adicionar classe
                </div>
            </a>
        </li>
        <li><a href="">
                <i class="fa-solid fa-calendar-days"></i>
                <div class="resto">
                    Agenda
                </div>
            </a>
        </li>
        <li>
            <a href="">
                <i class="fa-solid fa-list-check"></i>
                <div class="resto">
                    Tarefas realizadas
                </div>
            </a>
        </li>
        <li>
            <a href="">
                <i class="fa-solid fa-plus"></i>
                <div class="resto">
                    Adicionar tarefa
                </div>
            </a>
        </li>
        <li>
            <a href="">
                <i class="fa-solid fa-gear"></i>
                <div class="resto">
                    Configurações
                </div>
            </a>
        </li>

        <li class="desktopIcon"><a href="#"><i class="fa-solid fa-bars"></i></a></li>

    </ul>
</nav>