<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'parciais/_head.html' %}
</head>
<body>
    <div class="plus">
        <a href=""><i class="fa-solid fa-plus"></i></a>
    </div>
    <div class="flex principal">
        <main class="first">
            <div class="menu">
                {% include 'parciais/_nav.html'%}
            </div>

        </main>

        <section class="main-content">

            {%block content%}{% endblock %}

        </section>
    </div>
    
</body>

</html>